:root {
    --green: #65a30d;
    --red: #e11d48;
}

body {
    height: 100vh;
    margin: 0px;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

aside {
    background-color: var(--green);

    grid-row: 1 / 5
}

div#branding-grid {
    color: white;
    display: grid;
    grid-template-columns: max-content max-content;
}

#branding-grid > h1 {
    margin: 0px;
}

nav, #settings {
    color: white;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-auto-rows: max-content;
    align-items: center;
}

header {
    background-color: white;
}

main {
    background-color: gainsboro;
}